MyScheduler/bin/Debug
MyScheduler/obj/Debug MyScheduler/obj/MyScheduler.csproj.nuget.dgspec.json
MyScheduler/obj/MyScheduler.csproj.nuget.g.props
MyScheduler/obj/MyScheduler.csproj.nuget.g.targets
MyScheduler/obj/project.assets.json
MyScheduler/obj/project.nuget.cache
